#Gradle
.gradle/
build/
out/
classes/

#IDEA
.idea/
*.iml
*.ipr
*.iws

#vscode
.settings/
.vscode/
bin/
.classpath
.project

#fabric
run/
.mixin.out/
config/fabric/indigo-renderer.properties
logs/
saves/
crash-reports/
options.txt
usercache.json
